<!-- <p>todo-list works!</p> -->
<div class="'flex-row">
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <mat-card appearance="outlined" class="search-card">
      <mat-card-title class="users-list-title">Todos</mat-card-title>
      <mat-card-content class="flex-col">
        <div class="flex-row gap-10 flex-wrap">
          <!-- Examples of filtering in Angular -->

          <!-- <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input
              matInput
              data-test="todoOwnerInput"
              placeholder="Filter by owner"
              [(ngModel)]="todoOwner"
              (input)="updateFilter()"
            />
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field> -->

          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input
              matInput
              data-test="userOwnerInput"
              type="string"
              placeholder="Filter by Owner"
              [(ngModel)]="todoOwner"
              (input)="getTodosFromServer()"
            />
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

          <!-- want to make into dropdown if possibe-->
          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input
              matInput
              data-test="todoCategoryInput"
              placeholder="Filter by category"
              [(ngModel)]="todoCategory"
              (input)="updateFilter()"
            />
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <!-- <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <mat-select (input)="updateFilter()" [(ngModel)]="todoCategory" data-test="todoCategoryInput">
              <mat-option>--</mat-option>
              <mat-option value="video games">video games</mat-option>
              <mat-option value="software design">software design</mat-option>
              <mat-option value="homework">homework</mat-option>
              <mat-option value="groceries">groceries</mat-option>
            </mat-select>
            <mat-hint>Filtered on server/client?</mat-hint>
          </mat-form-field> -->
          <div class="flex-row gap-10 flex-wrap">
            <mat-form-field class="input-field">
              <mat-label>Body</mat-label>
              <input
                matInput
                data-test="todoBodyInput"
                placeholder="Filter by Body"
                [(ngModel)]="todoBody"
                (input)="updateFilter()"
              />
              <mat-hint>Filtered on client</mat-hint>
            </mat-form-field>
          </div>
          <div class="flex-row gap-10 flex-wrap">
            <!-- <label for="filterStatus">Filter by status</label>
            <mat-radio-group aria-label="filterStatus" [(ngModel)]="filterStatus" data-test="filterStatusRadio">
              <mat-radio-button value="true">Complete</mat-radio-button>
              <mat-radio-button checked value="false">Incomplete</mat-radio-button>
            </mat-radio-group> -->
            <mat-form-field class="input-field">
              <mat-label>Status</mat-label>
              <input
                matInput
                data-test="todoStatusInput"
                type="boolean"
                placeholder="Filter by Status: Complete or Incomplete"
                [(ngModel)]="todoStatus"
                (input)="getTodosFromServer()"
              />
              <mat-hint>Filtered on server</mat-hint>
            </mat-form-field>
          </div>

          <div class="flex-row gap-10 flex-wrap">
            <label for="viewType">View type: </label>
            <mat-radio-group aria-label="View type" [(ngModel)]="viewType" data-test="viewTypeRadio">
              <mat-radio-button value="card">Card</mat-radio-button>
              <mat-radio-button value="list">List</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="flex-row">
  @if (serverFilteredTodos) {
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->
    <div>
      @switch (viewType) {
      <!-- Card grid view -->
      @case ('card') {
      <div class="todo-cards-container flex-row gap-10 flex-wrap">
        @for (todo of filteredTodos; track todo._id) {
        <app-todo-card [simple]="true" class="todo-card" [todo]="todo" fxFlex="1 1 280px"></app-todo-card>
        }
      </div>
      }
      <!-- List view -->
      @case ('list') {
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-nav-list class="todo-nav-list">
            <h3 mat-subheader>Todos</h3>
            @for (todo of this.filteredTodos; track todo._id) {
            <a mat-list-item [routerLink]="['/todos', todo._id]" class="todo-list-item">
              <span matListItemTitle mat-line class="todo-list-owner"> {{ todo.owner }} </span>
              <span matListItemLine class="todo-list-category"> {{ todo.category }} </span>
            </a>
            }
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
      } }
    </div>
  </div>
  } @else {
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="user-error">
    <mat-error>
      There was a problem loading the users. Possibly the server is down or perhaps there are network issues.
    </mat-error>
    <mat-error> Error message: {{ this.errMsg }} </mat-error>
    <mat-error> Please wait a bit and try again or start the server. </mat-error>
  </div>
  }
</div>
